<div ng-controller="DeletePredmetiController" class="container" ng-init="find()" name="PDelForm">
    <div id="id_confrmdiv">
        <br />
        <b> Brisanjem predmeta, automatski brišete i svim korisnicima sve ocjene toga predmeta. Ako želite nastaviti kliknite 'Da' u suprotnom kliknite 'Ne'</b><br />
        <input id="btnDa" class="btn btn-success" type="button" value="Da" ng-click="Da()" />
        <input id="btnNe" class="btn btn-success" type="button" value="Ne" ng-click="Ne()" />
    </div>
</div>