<br />
<address>
    <h3>Diplomski rad</h3><br />
    <h4>Učenik:</h4>
    Mato Lučić<br />
    Stjepana Radića 68, Gundinci<br />
    35222<br />
    <strong>Tel:</strong> 091 7552 443<br />
    <strong>MAIL:</strong> <a href="mailto:mlucic@etfos.hr">mlucic@etfos.hr</a><br /><br />

    <h4>Mentor:</h4>
    Doc.dr.sc. ALFONZO BAUMGARTNER - docent<br />
    Katedra za vizualno računarstvo<br />
    <strong>Tel:</strong> 031 495 406<br />
    <strong>MAIL:</strong> <a href="mailto:alfonzo.baumgartner@ferit.hr">alfonzo.baumgartner@ferit.hr</a><br /><br />

    <h4>Su-mentor:</h4>
    Mono d.o.o.<br />
    Bihaćka 1d<br />
    31000 Osijek<br />
    Hrvatska<br />

</address>


